body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
max-width: 560px;
margin: auto;
}
a {
    color: black;
    font-weight:bolder;
    font-size:xx-large;
}
a:hover {
    color: cadetblue;
}
a:visited{
    color: black;
}
h2 {
    font-size: medium;
}
/* Max-width on the main image. */
img{
    max-width: 400px;
}
/* Padding for the main image on every page. */
.content {
    padding: 10px;
}
/* The following two classes are used for the cup item. 
The first to not displau the cup, and the second to show it when we get a value and a key.*/
.cupHidden {
    display: none;
}
.cupVisible {
    max-Width: 50px;
}
/* The following two classes are used for the bread item. 
The first to not displau the cup, and the second to show it when we get a value and a key.*/
.breadHidden {
    display: none;
}
.breadVisible {
    max-width: 50px;
}
/* The following two classes are used for the cheese item. 
The first to not displau the cup, and the second to show it when we get a value and a key.*/
.cheeseHidden {
    display: none;
}
.cheeseVisible {
    max-width: 50px;
}
/* Arrow to the left */
.left {
    max-width: 50px;
}
/* Arrow to the right */
.right {
    max-width: 50px;
}
